/* General Styling */
:root {
  --base-color: white;
  --contrast: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

body {
  display: grid;
  grid-template: 10vh 90vh / 1fr;
  background-color: var(--base-color);
}

button {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--base-color);
  background-color: var(--contrast);
  border: 3px solid var(--contrast);
  border-radius: 30px;
  padding: 6px 24px;
  cursor: pointer;
  transition: color 0.25s, background-color 0.25s;
}

button:hover {
  color: var(--contrast);
  background-color: var(--base-color);
}

a {
  text-decoration: none;
}

h1,
h2,
p,
legend {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

main {
  position: relative;
}

.start-section,
.game-section {
  width: 100%;
  height: 100%;
}

/* Header */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid var(--contrast);
}

header a {
  color: var(--contrast);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

header img {
  width: 60px;
}

header h2 {
  font-size: 1.75rem;
  letter-spacing: 8px;
  user-select: none;
}

/* Start Section */

.start-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.start-section .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.start-section .title img {
  width: 250px;
}

.start-section .title h1 {
  font-size: 3rem;
  letter-spacing: 8px;
  user-select: none;
}

/* Game Section */

.game-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.game-section .gameboard {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  width: clamp(300px, 40vw, 600px);
  height: clamp(300px, 40vw, 600px);
  gap: 8px;
}

.game-section .gameboard .cell {
  cursor: pointer;
  border: 5px solid var(--contrast);
  border-radius: 10px;
  transition: transform 0.25s;
}

.game-section .gameboard .cell:hover {
  transform: scale(1.05);
}

.game-section .score-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-section .score-wrapper h2 {
  position: relative;
  font-size: clamp(1.75rem, 3vw, 2.75rem);
  letter-spacing: 4px;
  padding-bottom: 16px;
}

.game-section .score-wrapper h2::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  top: 46px;
  left: 0;
  background-color: var(--contrast);
  border-radius: 10px;
}

.game-section .score-wrapper p {
  font-size: 5rem;
  font-size: clamp(4rem, 6vw, 6rem);
}

/* Modals */

.modal-wrapper {
  pointer-events: none;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
  transition: opacity 0.25s;
}

.modal-wrapper.show {
  pointer-events: auto;
  opacity: 1;
}

.modal-wrapper h2 {
  text-align: center;
  font-size: 1.75rem;
}

.modal-wrapper p,
.modal-wrapper legend {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.modal-wrapper .game-options-modal,
.modal-wrapper .end-game-modal {
  padding: 32px;
  border: 5px solid var(--contrast);
  border-radius: 10px;
  background-color: var(--base-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

/* Game Options Modal */

.game-options-modal p:not(fieldset p) {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 8px;
}

.game-options-modal label {
  width: fit-content;
  font-weight: 500;
}

.game-options-modal input[type='text'] {
  font-size: 1rem;
  padding: 6px;
  border: 3px solid var(--contrast);
  border-radius: 10px;
  outline: none;
  transition: color 0.25s, background-color 0.25s;
}

.game-options-modal input[type='text']:focus {
  color: var(--base-color);
  background-color: var(--contrast);
}

.game-options-modal fieldset {
  border: none;
  display: flex;
  gap: 16px;
}

.game-options-modal legend {
  margin-bottom: 8px;
  font-weight: 500;
}

.game-options-modal fieldset p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.game-options-modal input[type='radio'] {
  position: relative;
  appearance: none;
  background-color: var(--base-color);
  margin: 0;
  font: inherit;
  color: var(--contrast);
  width: 1rem;
  height: 1rem;
  border: 3px solid var(--contrast);
  border-radius: 50%;
  transform: translateY(-0.075em);
}

.game-options-modal input[type='radio']::before {
  position: absolute;
  content: '';
  top: -0.5px;
  left: -0.5px;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.25s;
  background-color: var(--contrast);
}

.game-options-modal input[type='radio']:checked::before {
  transform: scale(1);
}

:disabled,
input:disabled + label {
  opacity: 0.5;
}

/* End Game Modal */

.end-game-modal {
  justify-content: center;
  align-items: center;
}

.end-game-modal h2 {
  font-size: 2rem;
  max-width: 16ch;
}

.end-game-modal > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
